*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
h1{
  font-weight: normal;
  margin: auto;
  max-width: 800px;
  font-size: 40px;
}
html, body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: #333;
}
.overflow-hidden{
  overflow: hidden !important;
}
.height-100{
  height: 100%;
}
.p-10{
  padding: 10px;
}
.p-5{
  padding: 5px;
}
.m-10{
  margin: 10px;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.font-18{
  font-size: 18px;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #444;
  height: 100px;
  overflow-y: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}
.nav-items{
  line-height: 100px;
}
a{
  text-decoration: none;
}
.box-shadow{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}
.btn{
  display: inline-block;
  text-decoration: none;
  padding: 6px 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  transition: all .3s;
}
.btn.disabled{
  opacity: .65;
  cursor: default;
}
.btn-white, .btn-white.disabled:hover, .btn-white.disabled:focus{
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
}
.btn-white:hover, .btn-white:focus{
  background-color: #ddd;
  border: 1px solid #bbb;
}
.btn-orange{
  color: #212529;
  background-color: #ffc107;
  border: 1px solid #ffc107;
}
.btn-black{
  color: #ffc107;
  background-color: #212529;
  border: 1px solid #555;
}
.btn-black:hover, .btn-black:focus{
  background-color: #111;
}
.btn-orange:hover{
  color: #ffc107;
  background-color: #212529;
}
.btn-orange.btn-orange-2:hover{
  color: #212529;
  background-color: #ffc107;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.nav-btn{
  font-size: 22px;
  background-color: #ffc107;
  color: #222;
  margin-right: 15px;
  position: relative;
  transition: color 0s;
}
.nav-btn > span:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #222;
  border-radius: 4px;
  opacity: 0;
  bottom: 0;
}
.nav-btn:hover{
  color: #ffc107;
  transition: color .3s;
}
.nav-btn > span:last-child{
  position: relative;
}
.nav-btn:hover > span:first-child{
  animation: slide-right;
  animation-duration: .3s;
  opacity: 1;
}
@keyframes slide-right{
  0%{right: 100%}
  100%{right: 0}
}
.logo{
  font-size: 38px;
  letter-spacing: 4px;
  padding-left: 15px;
}
.logo img {
  width: 44px;
  margin-right: 4px;
}
@media all and (max-width: 550px){
  .logo{
    font-size: 22px;
    letter-spacing: 2px;
    margin-top: 3px;
  }
  .logo img{
    width: 28px;
  }
  .nav-btn{
    font-size: 16px;
    padding: 3px 6px;
  }
  nav{
    height: 80px;
  }
  .nav-items{
    line-height: 80px;
  }
  .main-container::before{
    height: 80px;
  }
}
@media all and (max-width: 340px){
  .logo{
    font-size: 18px;
    letter-spacing: 1px;
  }
  .logo img{
    width: 23px;
  }
}
.orange-1{
  color: #ffc107;
}
.orange-2{
  color: #ff8907;
}
.main-container::before{
  content: '';
  display: block;
  height: 100px;
}
.main-container{
  background: linear-gradient(35deg, #333, #222);
  min-height: 100%;
  color: #fff;
  padding: 10px;
}
.main-container.mc-2{
  background: linear-gradient(35deg, #de9716, #ff6a00);
}
.row{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.landing-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-section-1{
  text-align: right;
}
.landing-section-2{
  text-align: left;
  padding: 0 10px;
}
.landing-big-text{
  font-size: 54px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.landing-small-text{
  font-size: 26px;
  letter-spacing: 1px;
}
.col-3{
  width: 33.333333333333333333333%
}
.col-2, .col-2-always{
  width: 50%;
}
.col-4{
  width: 25%;
}
.thumb-img{
  animation: rotate-img;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes rotate-img{
  0%{
    transform: rotate(-25deg);
  }
  50%{
    transform: rotate(25deg)
  }
  100%{
    transform: rotate(-25deg);
  }
}
.form-container{
  max-width: 750px;
  padding: 25px 25px 30px;
  background: #444;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 1px 3px 8px 0 rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.14), 0 3px 3px 1px rgba(0,0,0,.12);
  margin: 0 auto 50px auto;
}
.input-container{
  margin-bottom: 30px;
  position: relative;
}
.remove-item{
  color: #fff;
  position: absolute;
  right: -18px;
  top: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #555;
  text-align: center;
  line-height: 21px;
  font-size: 24px;
  display: inline-block;
  cursor: pointer;
}
.remove-item:hover{
  background-color: red;
}
.input-container .error-msg{
  color: #eaa1a1;
  font-size: 14px;
  padding: 2px 3px;
}
.input-label-container {
  position: relative;
}
.input-container > .input-label-container > .label{
  color: #fff;
  font-size: 20px;
  padding-left: 5px;
  position: absolute;
  z-index: 0;
  transition: all .3s;
  top: 2px;
}
.input-container > .input-label-container > .label.focused{
  color: #e3e3e3;
  font-size: 12px;
  top: -15px;
}
.input-container > .border-container{
  border-top: 1px solid #f5f5f5;
}
.input-container.has-error > .border-container{
  border-top: 1px solid #eaa1a1;
}
.input-container > .border-container > .border-filler{
  width: 0;
  margin: auto;
  height: 3px;
  background:  #ffc107;
  margin-top: -1px;
  transition: width .3s;
}
.input-container.focused > .border-container > .border-filler{
  width: 100%;
}
.input-label-container > .form-input{
  border: none;
  display: block;
  outline: none;
  font-size: 20px;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  padding-left: 5px;
  line-height: 1.5;
  color: #fff;
  background-color: transparent;
  background-clip: padding-box;
  z-index: 10;
  position: relative;
}
.modal-backdrop{
  background-color: rgba(90, 90, 90, .75);
  z-index: 999998;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
}
.modal-backdrop > .modal-container {
  max-width: 650px;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  color: #333;
}
.modal-backdrop > .modal-close {
  position: absolute;
  cursor: pointer;
  top: -6px;
  right: 6px;
  font-size: 34px;
  color: #fff;
}
.modal-backdrop.open{
  display: block;
  opacity: 1;
  overflow-y: auto;
}
.pending-voter, .voter{
  background: #f7f7f7;
  font-size: 16px;
  padding: 15px;
  cursor: default;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #505050;
  overflow: hidden;
  max-width: 500px;
  margin: auto;
}
.pending-voter{
  background: #555;
  color: #fff;
  border-color: #888;
}
.confirmation-values > div {
  margin-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .modal-backdrop.open {
      overflow-y: scroll;
       -webkit-overflow-scrolling: touch;
  }
}
.modal-backdrop.open > .modal-container {
  animation: modal-fade-in;
  animation-duration: .5s;
  top: 50px;
  opacity: 1;
  background: #fff;
}
@keyframes modal-fade-in{
  0%{opacity: 0; top: 0;}
  100%{opacity: 1; top: 50px;}
}

@media all and (max-width: 768px){
  h1{
    font-size: 32px;
  }
  .col-2, .col-3{
    width: 100%;
  }
  .col-4{
    width: 50%;
  }
  .landing-section-1, .landing-section-2{
    text-align: center;
  }
  .landing-section-1{
    padding: 80px 20px 20px;
  }
  .landing-section-2 > div {
    margin: auto;
  }
  .landing-big-text{
    font-size: 40px;
  }
  .landing-small-text{
    font-size: 22px;
    padding-bottom: 30px;
  }
}
.loading-container > div{
  animation: loading;
  display: inline-block;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  border-radius: 50%;
  background: #aaa;
  width: 30px;
  height: 30px;
  margin: 10px 5px 0 5px;
  transform: scale3d(1,1,1);
  animation-delay: 0s;
}
.loading-2 > div{
  animation: loading-2;
  display: inline-block;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  border-radius: 50%;
  background: #fff;
  width: 35px;
  height: 35px;
  margin: 10px 8px 0 8px;
  transform: scale3d(1,1,1);
  animation-delay: 0s;
}
.loading-container > div:nth-child(2), .loading-2 > div:nth-child(2){
  animation-delay: .3s;
}
.loading-container > div:nth-child(3), .loading-2 > div:nth-child(3){
  animation-delay: .6s;
}
.loading-container > div:nth-child(4), .loading-2 > div:nth-child(4){
  animation-delay: .9s;
}
@keyframes loading{
  0%{ background: #aaa; transform: scale3d(1, 1, 1); }
  50%{background: orange; transform: scale3d(1.17, 1.17, 1.17);}
  100%{background: #aaa; transform: scale3d(1, 1, 1); }
}
@keyframes loading-2{
  0%{ background: #fff; transform: scale3d(1, 1, 1); }
  50%{background: #ffff77; transform: scale3d(1.17, 1.17, 1.17);}
  100%{background: #fff; transform: scale3d(1, 1, 1); }
}

.border-holder{
  max-width: 880px;
  height: 1px;
  background: #fff;
  margin: 10px auto;
}

.winner-section {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto 50px;
  background-color: #505050;
  border: 1px solid #444;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px 1px rgba(0,0,0,.12);
}
.item-placeholder{
  position: absolute;
  height: 100px;
  border: 1px dashed #fff;
  align-items: center;
  padding: 10px;
  top: 10px;
  width: calc(100% - 20px);
  justify-content: center;
  border-radius: 5px;
  cursor: default;
}
.table, .result-table{
  border-collapse: collapse;
  margin: auto;
}
.result-table{
  margin: 50px auto 20px;
  min-width: 400px;
}
.table td{
  padding: 3px 4px 0 4px;
  text-align: right;
}
.table td:last-child{
  text-align: left;
}
.result-table td{
  border: 1px solid #fff;
  padding: 5px 10px;
  font-size: 16px;
}
.result-table td.win-cell{
  background-color: #368236;
  color: #fff;
}
.result-table td.elimination-cell{
  background-color: #863c3c;
  color: #fff;
}
.result-table td.option-cell{
  color: #ffc107;
  background-color: #333;
  font-weight: bold;
}
.result-table td.round-cell{
  color: #fff;
  background-color: #555;
}

.email{
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}
.progress{
  display: flex;
  height: 30px;
  overflow: hidden;
  position: relative;
  font-size: .75rem;
  background-color: #e9ecef;
  border: 1px solid #ccc;
  border-radius: .25rem;
  margin-top: 30px;
}
.progress > .progress-bar-container > .progress-bar{
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
  background-color: #ffc107;
  animation-name: progress;
  animation-duration: 2.5s;
  height: 100%;
  width: 100%;
}
.progress> span {
  position: absolute;
  display: block;
  color: #333;
  font-size: 16px;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@keyframes progress{
  0%{width: 0%;}
  100%{width: 100%;}
}